@define-color foreground #cdd6f4;
@define-color background rgba(26, 27, 38, 0.8);

* {
  /* background: @background; */
  color: @foreground;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrains Mono Nerd Font;
  font-size: 14px;
  font-weight: bold;
}

window#waybar {
  background: transparent;
}

.modules-left {
  margin-top: 4px;
  margin-left: 12px;
  padding: 2px 8px 2px 0;
  border-radius: 10px;
  background: @background;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

.modules-center {
  margin-top: 4px;
  padding: 4px 12px;
  border-radius: 10px;
  background: @background;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

.modules-right {
  margin-top: 4px;
  margin-right: 12px;
  padding: 2px 8px 2px 0;
  border-radius: 10px;
  background: @background;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

#tray,
#cpu,
#network,
#custom-mouse-battery,
#bluetooth,
#pulseaudio,
#custom-system,
#custom-expand-icon,
#custom-notification,
#custom-power {
  min-width: 12px;
  margin: 0 12px;
}
